/* Basic styles for the navigation bar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    position: relative;
  }
  
  .nav-menu li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
  }
  
  .nav-menu li a:hover {
    background-color: #111;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 160px;
    z-index: 1000;
  }
  
  .dropdown-menu li a {
    padding: 12px 16px;
  }
  
  .nav-menu .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .content {
    max-width: 800px;
    margin: 0;
    padding: 20px;
  }
  
  .content h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
  }
  
  textarea {
    resize: vertical;
  }
  
  #search-results {
    margin-top: 20px;
  }
  
  #search-results h2 {
    text-align: center;
  }
  
  #search-results .result-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  #search-results .result-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  #search-results .result-item p {
    margin: 5px 0 0;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .nav-menu li {
      text-align: right;
      display: inline-block;
    }
  
    .nav-menu li a {
      padding: 14px 20px;
    }
  
    .nav-menu .dropdown-menu {
      position: static;
    }
  
    .nav-menu .dropdown:hover .dropdown-menu {
      display: none;
    }
  }


  /*Styles for header */
  .header{ 
    width: 100% ; 
    display: inline-block ;
  }

header img{
    width: 100%;
    display: inline-block;
}


  /* Styles for content and blog sections */
.content {
    padding: 0px 0 0px 0;
    text-align: center;
  }
  
  .blogs {
    padding: 10px;
    background-color: #f4f4f4;
  }
  
  .section-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .blogs .latest-blogs,
  .blogs .popular-blogs {
    width: 48%;
  }
  
  .separator {
    width: 2%;
    border-left: 1px solid #ccc;
    margin: 0 1%;
  }

  .blog-posts article {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .blog-posts h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .blog-posts p {
    margin: 5px 0 0;
  }
  
button{
  background-color: rgb(84, 176, 218);
  color: aliceblue;
}




  /* Basic styles for the footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    width: 100%;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-container p {
    margin: 0;
  }
  
  .footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }

  